<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/ProductStylee.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <!--header-->
    <header>
        <!--nav-->
        <div class="nav container">
            <a href="#" class="logo">SMART</a>
            <!--icon-cart-->
            <i class='bx bx-shopping-bag' id="cart-icon"></i>
            <!-- cart -->
            <div class="cart">
                <h2 class="cart-title">Resumen</h2>
                <!-- content -->
                <div class="cart-content">

                </div>
                <!-- total -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">Q0</div>
                </div>
                <!-- Pay button -->
                <button type="button" class="btn-buy">Pagar</button>
                <!-- cart close -->
                <i class='bx bx-x' id="close-cart"></i>
            </div>
        </div>
        </div>
    </header>
    <!--shop-->
    <section class="shop container">
        <h2 class="section-title">Productos</h2>
        <!--Content-->
        <div class="shop-content">
            <!--box 1-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">chuchitos</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--box 2-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">tortillas de harina</h2>
                <span class="price">Q20/00</span>

                <i class='bx bx-shopping-bag add-cart'></i>

            </div>
            <!--box 3-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">atol</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--box 4-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">churrasquitos</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--box 5-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">tacos</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--box 6-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">tostadas</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div> <!--box 7-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">Bebida</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div> <!--box 8-->
            <div class="product-box">
                <img src="/Img/Tostadas.jpg" alt="" class="product-img">
                <h2 class="product-title">Shucos</h2>
                <span class="price">Q10.00</span>

                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

        </div>
    </section>
    <script src="/src/ScriptProducts.js"></script>

</body>

</html>